h1, h2 {
font-family: 'Princess Sofia', serif;
}

ul {
  font-family: 'Playfair Display', serif; 
  font-size: 12px;
}

ol {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 14px;
  font-family: 'IM Fell Double Pica', serif;
}

.d20 {
  float: left;
  padding: 20px;
  max-width: 300px;
  height: auto;
  opacity: 1;
}

.linkalign {
  display: block;
  text-align: center;
  font-family: "Baloo Chettan 2";
  }

.row {
  padding: 50px;
}

.image {
  background: transparent;
  padding: 3px;
  border: 2px dotted #BDB3A7;
}

.info {
  font-style: bold;

}

.intro {
  font-size: 13px;
}

.class12 {
  text-align: center;
  font-size: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  opacity: 0.5;
}

img {
  opacity: 1;
}

img:hover {
  opacity: 0.5;
}

body {
  background: linear-gradient(#B8E7FB, #e4f4fb);
}