h2 {
font-family: 'Princess Sofia', serif;
}

ul {
  font-family: 'Playfair Display', serif; 
  font-size: 12px;
}

blockquote {
  font-style: italic;
  font-size: 14px;
  font-family: 'IM Fell Double Pica', serif;
}

.d20 {
  float: left;
  padding: 20px;
  max-width: 300px;
  height: auto;
  opacity: 1;
}

.linkalign {
  display: block;
  text-align: center;
  font-family: "Baloo Chettan 2";
  }

.row {
  padding: 50px;
}

.image {
  background: transparent;
  padding: 3px;
  border: 2px dotted #BDB3A7;
}

.info {
  font-style: bold;

}

.intro {
  font-size: 13px;
}

img {
  opacity: 1;
}

img:hover {
  opacity: 0.5;
}

body {
  background-color: #d1e9ea;
}