h2 {
font-family: 'Princess Sofia', cursive;
}

blockquote {
  font-style: italic;
  font-size: 12px;
}

.d20 {
  float: left;
  padding: 20px;
  max-width: 250px;
  height: auto;
  opacity: 1;
}

.row {
  padding: 50px;
}

.image {
  background: transparent;
  padding: 3px;
  border: 2px dotted #022454;
}

.info {
  font-style: bold;

}

img {
  opacity: 1;
}

img:hover {
  opacity: 0.5;
}

body {
  background-color: #d1e9ea;
}